style.

  .disabled-paste-button, .paste-button {
    display: inline-block;
    margin: 0;
    margin-left: 5px;
    cursor: pointer;
    color: #339233;
  }

  #downloadLinkLabel, .paste-button {
    /*pointer-events: none;*/

  }

  #disable-download-link {
    cursor: pointer !important;
  }

  .paste-button {
    /*pointer-events: ;*/
  }

  .file-turned-off {
    opacity: 0.5;
    pointer-events: none;
  }

  input::placeholder {
    color: #636262;
  }



form.form#form(class="bg-base-300 rounded-md")
  p(style="margin:0;margin-bottom:6px;" class="text-lg") File Limits: Video Or Audio, Max 300 MB, Max 1 Hour Duration
  .group
    label(for='file') Select (or drop) file
    input#file(type='file' class=" file-input-bordered file-input   file-input-primary max-md:max-w-xs w-full ")
  if !ytdlp
    .group
      label#disable-download-link(for='downloadLink') Enter a link for automatic download
        span.text-secondary.pl-3 PASTE
      input(disabled #disable-download-link  class="input input-bordered input-primary w-full max-md:max-w-xs" style="cursor:pointer;")(type='text' value="Paid Feature, More Info Coming Soon")
  if ytdlp
    label(for='downloadLink') Enter a link for automatic download
      p.text-secondary.pl-3 PASTE
    input#downloadLink(type='text' class="input input-bordered input-primary w-full max-md:max-w-xs" placeholder="Enter a link to a video here")
  .group
    label(for='languageSelect')#languageLabel Language (#{languagesArray.length} Options)
    .wrapper
      button#languageSelect.select-btn(type='button' class='input-bordered input-primary input focus:ring-offset-4')
        span#language.select-value(data-value='auto-detect' name='language') Auto-Detect
        i.fa-solid.fa-angle-down
      .content(class="rounded-md border-2 border-primary !bg-base-100")
        .search(class="")
          i.fa-solid.fa-magnifying-glass
          input(spellcheck='false' type='search' placeholder='Filter...' class="rounded-md  border-primary border" tabindex='0')
        ul.options.languages
          each language in languagesArray
            li.option(data-value=language.value tabindex='0')= language.name
  .group
    label(for='modelSelect')#modelLabel Model (#{modelsArray.length} Options)
    .wrapper
      button#modelSelect.select-btn(type='button' class="input-bordered input-primary input focus:ring-offset-4")
        span#model.select-value(name='model')= modelsArray[0].name
        i.fa-solid.fa-angle-down
      .content(class="rounded-md border-2 border-primary !bg-base-100")
        .search
          i.fa-solid.fa-magnifying-glass
          input(spellcheck='false' type='search' class="rounded-md  border-primary border" placeholder='Filter...')
        ul.options.models
          each model in modelsArray
            li.option(data-value= model.value tabindex='0')= model.name
  .group.translateHolder
    label#translateLabel(for='translate') Translate to different languages
    input#translate(type='checkbox' class="checkbox checkbox-primary" name='translate')
  button#upload-button.submit-btn(type='submit' class="") Upload


  script.
    let l = console.log;

    let pasteButtonTurnedOff = false;

    $(document).on('click', function (e) {

      // workaround since element is diabled
      if (e.target.attributes.getNamedItem('#disable-download-link')) {
        Swal.fire({
          title: `Restricted access feature`,
          text: 'This feature is too powerful for public use, reach out on one of the social media for access',
          icon: 'info',
          confirmButtonText: 'Back to Upload'
        })
      }
    });

    // TODO: add this download link
    function isValidLink(input) {
      const pattern = /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/;
      return pattern.test(input);
    }

    $('.paste-button').click(function(event) {
      l('clicked!');
      l('pasteButtonTurnedOff', pasteButtonTurnedOff);

      if(pasteButtonTurnedOff) {
        return;
      }

      navigator.clipboard.readText().then(clipText => {
        $('#downloadLink').val(clipText);
        updateCss()
      });
    });

    function updateCss(){
      const currentInputValue = $('#downloadLink').val();

      l('currentInputValue', currentInputValue);

      // if downloadlink is empty
      const inputIsEmpty = currentInputValue === '';

      // re-enable file input
      if (inputIsEmpty) {
        $('#file').removeClass('file-turned-off');
      } else {
      // disable file input
        l('turning off paste button')
        // re-enable file input and paste button
        $('#file').addClass('file-turned-off');
      }
    }

    $('#downloadLink').keyup(() => {
      updateCss()
    });

    $('#downloadLink').change(() => {
      updateCss()
    });

    $('#file').change(function () {
      // there was a file present
      if ($('#file')[0]?.files?.length > 0) {
        $('#downloadLink').addClass('file-turned-off');
        $('.paste-button').addClass('file-turned-off');

        $('#downloadLink').attr('placeholder', 'You have selected a file to upload');
        pasteButtonTurnedOff = true;

        l('file added')
      // a file that was there was removed
      } else {
        $('#downloadLink').removeClass('file-turned-off');
        $('.paste-button').removeClass('file-turned-off');

        $('#downloadLink').attr('placeholder', 'Enter a link to a video here');

        pasteButtonTurnedOff = false;


        l('file removed')
      }
    });

